body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.body-bg {
    background-image: url("../images/bg.jpg");
    background-size: cover;
}

.color-grey {
    color: #4b4b4b;
}

h1, h2 ,h3 ,h4, h5, h6 {
    font-family: 'IBM Plex Serif', serif;
}

.cv-header, .profile, .expirience, .company-name {
    font-family: 'IBM Plex Serif', serif;
}

.cv {
    margin-top: 50px;
    border: 1px solid #4b4b4b;
    box-shadow: 1px 1px 10px #4b4b4b;
}

.cv-left {
    background-color: #4b4b4b;
    min-height: 30vh;
    color: rgb(255, 255, 255);
}

.cv-right {
    background-color: #fff;
    min-height: 30vh;
    color: #131313;
}

.cv-left a{
    color: #fff;
}

.cv-left a:hover {
    text-decoration: none;
}

.cv-left ul {
    line-height: 175%;
    padding-left: 30px;
}

.cv-left ul.contacts-block {
    list-style-type: none;
    padding-left: 0;
}

.cv-left .adress {
    font-style: italic;
    text-align: center;
}

.company-name {
    font-size: 1.1rem;
    text-transform: uppercase;
}

article {
    padding: 20px;
}

.company-name i{
    font-size: .8rem;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    text-transform: none;
}

.job-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.lines {
    overflow: hidden;
}

.lines::before, .lines::after {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    background-color: #4b4b4b;
    border: 1px solid #fff;
    vertical-align: middle;
}

.lines::before {
    margin-left: -100%;
}

.lines::after {
    margin-right: -100%;
}

@media (max-width: 991.98px){
    .cv-left h1, .cv-left h2, .cv-left h3, .cv-left h4 {
        font-size: 1.3rem;
    }
    .cv-left ul {
        line-height: 150%;
        padding-left: 25px;
    }
}

@media (max-width: 575.98px){
    .cv {
        margin-top: 0; 
    }
    .photo-block img {
        display: block;
        max-width: 50%;
        margin: 20px auto;
    }
}

.link__footer {
    display: block;
    color: black;
}

.link__footer:hover {
    color: rgb(95, 95, 95);
}

footer {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: white;
}

.bold {
    font-weight: bold;
}

.hover__black:hover {
    color: black;
}